* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100px;
    width: 100%;

    display: grid;
    
    grid-template-rows: 4fr;
    
    grid-template-areas: 
    'header-area'
    'main-area'
    'aside-area'
    'footer-area';


    background-color: antiquewhite;
}

header {
    height: 80px;
    grid-area: header-area;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 0px;
    
    
    
    background-color: rgb(108, 237, 237);
}

h1 {
    grid-area: h1-area;

}

nav {
    grid-area: nav-area;
    display: flex;
    margin: 50px;
}

a {
    margin-left: 20px;
}

main {
    height: 200vh;
    gap: 10px;
    

    grid-area: main-area;
    display: grid;
    
    grid-template-areas: 
        'title' 'title' 'title'
        'products' 'products' 'products';

    

    background-color: white;
}

h2 {
    grid-area: title;
    background-color: antiquewhite;
}

#produtos {
    grid-area: products;
    background-color: blue;
    grid-template-columns: repeat(3, 1fr);
}

article {
    
}

aside {
    grid-area: aside-area;
    background-color: violet;
}

footer {
    grid-area: footer-area;
    background-color: brown;
}
