body {
    background-color: white;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > div {
    background-color: rgba(31, 109, 105, 0.452);
    border-radius: 10px;
    margin: 0px;
}

header > figure {
    border: 10px;
    border-width: 10px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(198, 158, 39);
    padding: 10px;
    text-align: center;
}

h1 {

    /*border-width: 10px;
    
    border-style: solid;*/
    padding: 20px;
    
    border-color: grey;
    text-align: center;
    
    color: rgb(255, 255, 255);

    font-family: sans-serif ; 

    margin: 0px;

}

nav {

    background-color: rgba(0, 0, 0, 0.707);
    padding: 10px;
    border-width: 10px;
    text-align: center;

    a {
        color: rgb(255, 255, 255);
        padding: 10px;
    }

}

nav > a:hover {

    background-color: rgba(172, 172, 53, 0.297);

}

main {
    border: 10px;
    background-color: rgba(31, 109, 105, 0.452);
    padding: 20px;
    margin-bottom: 20px;
}

#fotografias h3, #video h3, #poema h3 {
    color: #000000;
    font-size: 24px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.707);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#fotografias > figure, #video > figure {
    text-align: center;
    
}

#title {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

#poema > pre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 20px;
    text-align:center;
    
}

label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}



footer {

    padding: 10px;
    background-color: rgba(0, 0, 0, 0.707);
    text-align: center;
    color: white;
    
}



