* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  /* centrando o texto */
  display: flex;
  position: sticky;
  height: 10vh;
  width: 100%;
  top: 0;

  border-radius: 10px;
  padding: 10px;
  
  justify-content: space-between;
  align-items: center;

  background-color:rgb(237, 230, 230);
  z-index: 1;

  font-family: Verdana, sans-serif;
  
}
  
nav > a {

  text-decoration: none;
  transform: none;
  padding: 10px;
  border-radius: 10px;
}

nav > a:last-child {
  
  border-radius: 10px;
  background-color: rgb(189, 189, 189);
  
}

nav > a:link {
  color: rgb(61, 106, 101)
}

nav > a:visited {
  color: rgb(166, 155, 155)
}

nav > a:hover {
  color: salmon;
  background-color: rgb(189, 189, 189);
  transition: 0.8s;
}

nav > a:active {
  background-color: salmon;
}
  
#poema {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100%;
  
  font-family: sans-serif;
  background-color: rgb(71, 172, 172);

}

#poema :first-child {

  white-space: pre-line;
  font-weight: bold;
  margin-bottom: 14px;

}

#poema :last-child {
  font-style: italic;
}

#paisagem {

  position: relative;
  background: url(images/Santa\ Monica\ Beach\ PC_grande.jpg);
  background-size: cover;
  background-position: center;


  width: 100%;
  height: 100vh;

}

#paisagem > a {
  position: absolute;
  color: rgba(235, 245, 255, 0.452);
  right: 60px;
  bottom: 30px;
  font-size: 5vh;
}

#paisagem > a:hover {
  color: rgba(255, 119, 0, 0.744);
  transition: 0.7s;
}

#capitais {
  
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 10vw;

  background-color: rgba(128, 128, 128, 0.542);
  
}

#capitais figure {

  display: flex;  
  margin: 10px;
  
}

#capitais img {

  width: 80px;
  height: 80px;
  border-radius: 20px 0px 0px 20px;

}



#capitais figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 80px;
  border-radius: 0px 20px 20px 0px;
  
  font-style: italic;
  font-family: Verdana, sans-serif;
  font-size: 82%;

}


#experimenta {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;


}

#experimenta p {

  background-color: aqua;
  padding: 20px;
  border: 80px;
  border-style:solid;
  border-color: black;
  border-radius: 50%; 

}
  
#experimenta :hover {
  display: none;
}


