* {
    margin: 0;
    padding: 0;
    
}

header, article {
    /* centrando o texto */
    display: flex;

  }
  
  header {
    
    position: sticky;
    height: 3vh;
    top: 0;

    border-radius: 10px;
    border-style: solid;
    background-color:rgb(237, 230, 230);
    border-color: rgb(237, 230, 230);
    padding: 3vh;

    justify-content: space-between;
    align-items: center;

  }

  a {
    text-decoration: none;
    transform: none;
    padding: 1vw;
    border-style: solid;
  
    border-color: rgb(237, 230, 230);

  }

  a:visited {
    color: rgb(114, 109, 109); /*Não funciona*/
  }

  a:hover {
    color: salmon;
    background-color: rgb(189, 189, 189);
  }
  
  a:active {
    background-color: rgb(189, 189, 189);
  }

  a:last-child {
    
    border-style: solid;
    border-color:  rgb(189, 189, 189);
    border-radius: 1vh;
    background-color: rgb(189, 189, 189);
    
  }
  


  

  
  #poema {

    background-color: rgb(71, 172, 172);
    height: 50vh;

  }

  #paisagem {

    background-color: black;
    height: 50vh

  }

  #capitais {

    background-color: bisque;
    height: 50vh;

  }


